* {
    padding: 0;
    margin: 0;
}

#masthead {
    position: absolute;
  top: 1%;
  right: 3%;
  width: 40%;
}

article{
    width: 100%;
    
}

header {
    background-image: url('images/ripple3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
    background-position-x: center;
    margin-bottom: 4%;
}

h1 {
    font-size: 2em;
    color: azure;
    width: 100%;
    text-align: center;
    top: 8%;
    position: relative;
    font-family: 'Cinzel', serif;
}

header p {
    color: azure;
    width: 90%;
    text-align: center;
    top: 10%;
    position: relative;
    margin: auto;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    width: 96%;
    margin: 3% 2%;
    font-size: 1.2em;
}

.dropcap {
    font-weight: bolder;
    font-size: 2.5em;
    float: left;
    margin-right: 1%;
    line-height: 90%;;
}

.picContainer {
    width: 96%;
    margin: 5% 2%;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 2em;
    width: 96%;
    margin: 1.5% 2%;
    font-family: Arial, Helvetica, sans-serif
}

.picContainer img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 0.9em;
    color: rgb(77, 75, 75);
}

/*View for non-iPhone 5 smartphones*/
@media (min-width:350px) {

    h1 {
        font-size: 2.3em;
        top: 18%;
        /* font-size: 2em;
        top: 8%; */
    }
    
    header p {
        width: 87%;
        top: 23%;
    }

}


/*View for tablets*/
@media (min-width:479px) {
    
    header {
    width: 100%;
    height: 40%;
    background-position-x: center;
    margin-bottom: 2%;
    }

    #masthead {
      top: 3%;
      right: 3%;
      width: 35%;
    }

    h1 {
        font-size: 5em;

    }

    header p {
        font-size: 1.5em;
        line-height: 1.2;
        top: 20%
    }

    p {
        width: 70%;
        margin: auto;
        font-size: 1em;
        margin-bottom: 2%;
    }

    .dropcap {
        margin-right: 0.5%;
    }

    h2 {
        font-size: 2em;
        width: 70%;
        margin: auto;
        margin-bottom: 3%;
    }

    .picContainer {
        margin: 3% 2%;
    }

    figcaption {
        font-size: 0.7em;
    }

}

/*View for desktop*/
@media (min-width:1000px) {

    header {
        background-position-y: 50%;
        height: 75%;
        width: 100%;
        margin-bottom: 1%;
    }

    #masthead {
        top: 3%;
        right: 1%;
        width: 20%;
      }

    h1 {
        font-size: 8em;
        top: 15%;

    }

    header p {
        font-size: 2em;
        width: 70%;
        top: 25%;
    }

    p {
        width: 65%;
        margin: auto;
        font-size: 1.3em;
        margin-bottom: 1%;
    }

    .dropcap {
        margin-right: 0.3%;
        line-height: 80%;
    }

    h2 {
        font-size: 2.3em;
        width: 65%;
        margin: auto;
        margin-bottom: 1%;
    }

    .picContainer {
        width: 80%;
        margin: auto;
        margin-bottom: 1.5%;
    }

    figcaption {
        font-size: 1em;
    }

  
    

}